/*header start*/


.header {
    height: 100px;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .left {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .left img {
    width: 40px;
    height: 29px;
}

.header-content .left h3 {
    font-size: 16px;
    margin-left: 20px;
}

.header-content .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-left: 200px;
    margin-top: 30px;
}

.header-content .center p {
    margin-left: 20px;
    font-size: 26px;
}

.header-content .right {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.header-content .right h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

.header-content .btn {
    padding: 16px 17px;
    background-color: white;
    border: 1px solid #2A94E2;
    border-radius: 5px;
}


/*header ends*/


.home-header-background {
    background-image: url("../img/Rectangle.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    height: 100vh;
}


/*home starts*/


.home-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 30px;
}

.home-content h1 {
    font-size: 50px;
    width: 90%;
    text-transform: uppercase;
}

.home-content span {
    font-size: 16px;
    width: 40%;
    margin-top: 35px;
}

.home-content .history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.home-content .history h1 {
    font-size: 80px;
    margin-right: 20px;
    width: 26%;
}

.home-content .history h3 {
    font-size: 16px;
    width: 50%;
    margin-right: 20px;
}

.home-content .home-btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.home-content .home-btn img {
    margin-right: 25px;
}

.home-content .btn {
    padding: 17px 20px;
    width: 360px;
    border-radius: 5px;
    border: none;
    background: #2A94E2;
    color: white;
}


/*home ends*/


/*test starts*/


.test-content {
    width: 100%;
    height: 600px;
    margin-top: 70px;
}

.test-content h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 12px;
}

.test-content h5 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.object {
    width: 100%;
    border: 2px solid Lightgray;
    height: 420px;
    display: flex;
    justify-content: space-between;
}

.object .left {
    display: flex;
    width: 65%;
    flex-direction: column;
    margin: 0 0 0 25px;

}

.object .left h3 {
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.location {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 90%;
    border-bottom: 2px solid lightgray;
}

.location-1 img {
    padding-bottom: 25px;
    width: 334px;
    height: 217px;
}

.location-1 h4 {
    font-size: 16px;
    color: gray;
    padding-bottom: 25px;
}

.question {
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.question .question-1 {
    align-items: center;
    color: #2A94E2;
    height: 50px;
    display: flex;
}

.question-1 span {
    font-size: 16px;
    padding-right: 5px;
}

.object .right {
    width: 35%;
    border-left: 2px solid lightgray;
    height: 100%;
}

.object .right .right-1 {
    display: flex;
}

.object .right .right-1 img {
    width: 35px;
    height: 35px;
    margin: 25px 20px 25px 60px;
}

.object .right .right-1 p {
    margin: 25px 30px 25px 0;
}


/*test ends*/


/*market starts*/


.market-content {
    margin-bottom: 128px;
}

.market-content h1 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
}

.market-position {
    display: flex;
    flex-direction: column;
}

.img-top {
    display: flex;
    justify-content: space-between;
}

.img-top-l {
    display: flex;
    flex-direction: column;
}

.img-top-l-t {
    display: flex;
    justify-content: space-between;
}

.img-bottom {
    display: flex;
    justify-content: space-between;
}

.market-content h2 {
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: white;
}

/*111*/

.img-1 {
    position: relative;
    width: 470px;
    height: 610px;
}

.img-1 img {
    width: 100%;
    height: 99%;
    object-fit: cover;
}

/*222*/

.img-2 {
    position: relative;
    width: 850px;
    height: 300px;
}

.img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*333*/

.img-3 {
    position: relative;
    width: 442px;
    height: 300px;
}

.img-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*444*/

.img-4 {
    position: relative;
    width: 820px;
    height: 316px;
    margin-bottom: 10px;
}

.img-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*555*/

.img-5 {
    position: relative;
    width: 403px;
    height: 287px;
}

.img-5 img {
    width: 100%;
    height: 277px;
    object-fit: cover;
}

/*666*/

.img-6 {
    position: relative;
    width: 403px;
    height: 287px;
}

.img-6 img {
    width: 100%;
    height: 277px;
    object-fit: cover;
}


/*market ends*/


/*aparty starts*/


.aparty-price-btn {
    align-items: center;
    text-align: center;
}

.price-btn {
    color: black;
    background: white;
    border: 1px solid lightgray;
    padding: 17px 84px;
    margin-bottom: 30px;
}

.price-btn:hover {
    background: lightgray;
}

.price-btn:focus {
    background: #2A94E2;
    color: white;
}

.aparty-content h1, h2 {
    text-align: center;
    padding-bottom: 20px;
}

.aparty-content h2 {
    color: gray;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 47%;
    border: 2px solid rgba(211, 211, 211, 0.51);
}

.bl {
    margin-right: 78px;
}

.block-info {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.block-info a {
    font-size: 25px;
    padding-bottom: 7px;
    color: black;
    text-decoration: none;
}

.block-info a:hover {
    color: #2A94E2;
}

.block-info h4 {
    font-size: 14px;
    padding-bottom: 10px;
}

.info-price {
    display: flex;
    justify-content: space-between;
}

.info-price h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.info-price span {
    font-size: 17px;
    line-height: 25px;
}

.aparty-btn {
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    color: black;
    font-size: 18px;
    background: rgba(211, 211, 211, 0.51);
}

.aparty-btn:focus {
    background: #2A94E2;
    color: white;
}


/*aparty ends*/


/*history-ihlas starts*/


.history-ihlas {
    height: 670px;
    background: #F6F6F6;
}

.h-i-content {
    display: flex;
    justify-content: space-between;
}

.h-i-content .left {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 48%;
    margin-top: 90px;
}

.h-i-content .left h1 {
    font-size: 45px;
    padding-bottom: 30px;
}

.h-i-content .left p {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 28px;
}

.hi-ih-co-btn {
    padding: 18px 50px;
    margin-left: 0;
    margin-right: 426px;
    background: #2A94E2;
    border: none;
    color: white;
    border-radius: 7px;
}

.h-i-content .right {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 48%;
    margin-top: 90px;
}

.h-i-content .right img {
    width: 621px;
    height: 430px;
    object-fit: cover;
    margin-bottom: 15px;
}

.img-click-ri {
    margin-right: 13px;
}

.h-i-content .right .img-click img {
    width: 142px;
    height: 100px;
}

.h-i-content .right .img-click img:hover {
    border: 2px solid #2A94E2;
}


/*history-ihlas ends*/


/*sell starts*/


.sell-content h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blocks {
    padding: 25px;
    border: 2px solid #2A94E2;
    width: 45%;
    height: 300px;
    border-radius: 7px;
    text-align: left;
    margin-bottom: 50px;
}

.blocks h2 {
    font-size: 26px;
    padding-bottom: 55px;
    text-align: left;
}

.blocks-info {
    display: flex;
    justify-content: space-between;
}

.blocks-info-left h4 {
    font-size: 14px;
    color: gray;
    padding-bottom: 10px;
}

.blocks-info-left h3 {
    font-size: 19px;
    padding-bottom: 20px;
}

.blocks-info-left h1 {
    font-size: 33px;
    text-align: left;
    padding-top: 22px;
    padding-bottom: 5px;
}

.blocks-info-left a {
    color: black;
}

.se {
    margin-right: 125px;
}

.bt h2 {
    padding-bottom: 28px;
}


/*sell ends*/


/*georgyi starts*/


.georgyi {
    background: #EEF3FA;
    height: 600px;
}

.georgyi-content {
    display: flex;
    justify-content: space-between;
}

.georgyi-content .left {
    width: 47%;
    text-align: left;
    flex-direction: column;
    margin-top: 90px;
}

.georgyi-content .left h1 {
    font-size: 45px;
    padding-bottom: 25px;
}

.georgyi-content .left p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
}

.ge-co-btn {
    padding: 17px 80px;
    color: white;
    background: #2A94E2;
    border-radius: 7px;
    border: none;
}

.georgyi-content .right {
    width: 47%;
    padding-left: 150px;
    padding-top: 66px;
}


/*georgyi ends*/


/*future starts*/


.future {
    background: #535860;
    height: 240px;
}

.future-content {
    display: flex;
    justify-content: space-between;
}

.fu-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 40px;
}

.fu-left .span {
    font-size: 14px;
    color: white;
    line-height: 25px;
    padding-bottom: 20px;
}

.h2 {
    font-size: 18px;
    color: white;
    line-height: 25px;
    padding-bottom: 20px;
}

.fu-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    line-height: 49px;
}

.fu-right h1 {
    font-size: 45px;
    color: white;
}

.fu-right a {
    color: white;
    font-size: 22px;
}

.fu-btn {
    padding: 17px;
    border-radius: 7px;
    border: none;
}


/*future ends*/